  <!-- Product Detail End -->
<div class="product-detail" style="direction: rtl;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <div class="product-detail-top">
                    <div class="row align-items-center">
                        <div class="col-md-5">
                            <div class=" normal-slider">
                                <img src="img/slider-3333.jpg" alt="Product Image">
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="product-content">
                                <div class="title"><h2>شمعة مع الكاس</h2></div>
                                <div class="ratting">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="price">
                                    <h4>السعر:</h4>
                                    <p>15 JD </p>
                                </div>
                                <div class="quantity">
                                    <h4>الكمية:</h4>
                                    <div class="qty">
                                        <button class="btn-minus"><i class="fa fa-minus"></i></button>
                                        <input type="text" value="1">
                                        <button class="btn-plus"><i class="fa fa-plus"></i></button>
                                    </div>
                                </div>
                                <div class="action">
                                    <a class="btn" onclick="addToCart()"><i class="fa fa-shopping-cart"></i>اضف الى عربة التسوق</a>
                                    <a class="btn" onclick="addToWishlist()"><i class="fa fa-heart"></i>اضف الى المفضلة</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row product-detail-bottom">
                    <div class="col-lg-12">
                        <ul class="nav nav-pills nav-justified">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="pill" href="#description">وصف المنتج</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="pill" href="#specification">عن التاجر</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="pill" href="#reviews">تعليقات</a>
                            </li>
                        </ul>

                        <div class="tab-content" style="text-align: right;">
                            <div id="description" class="container tab-pane active">
                                <h4>وصف المنتج</h4>
                                <p>
                                    أضف لمسة من الأناقة والفخامة إلى منزلك مع هذه الشمعة الفاخرة المرفقة بكأس مزين برسوم زجاجية دقيقة. صُممت هذه القطعة لتعكس جمال التفاصيل الدقيقة وتوفر تجربة إضاءة لا تُنسى.
                                </p>
                            </div>
                            <div id="specification" class="container tab-pane ">
                                <h4>معلومات عن التاجر </h4>
                                <p>
                                <p>
                                    أعمل كتاجر متخصص في صناعة وتجارة الشمع المصنوع يدويا، بدأت رحلتي في عالم الشمع المصنوع بحب وشغف للتصميم، مما دفعني لتطوير مهاراتي وإطلاق مشروعي الخاص بي
                                    <h4> الرؤية المستقبلية</h4>
                                    أسعى دائمًا للتطوير والتوسع في عملي، وأطمح لتقديم المزيد من المنتجات المبتكرة والخدمات المميزة لعملائي. أهدف إلى تعزيز وجودي في الأسواق المحلية والدولية وبناء علاقات طويلة الأمد مع العملاء مبنية على الثقة والجودة..
                                </p>
                                </p>
                            </div>
                            <div id="reviews" class="container tab-pane fade">
                                <div class="reviews-submitted">
                                    <div class="reviewer">مريم <span>01 Jan 2020</span></div>
                                    <div class="ratting">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <p>
                                        قطعة جميلة جدا
                                    </p>
                                </div>
                                <div class="reviews-submit">
                                    <h4>شاركنا رأيك بالمنتج:</h4>
                                    <div class="ratting">
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </div>
                                    <div class="row form">
                                        <div class="col-sm-6">
                                            <input type="text" placeholder="الاسم">
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="email" placeholder="الايميل">
                                        </div>
                                        <div class="col-sm-12">
                                            <textarea placeholder="التعليق"></textarea>
                                        </div>
                                        <div class="col-sm-12">
                                            <button>ارسل التعليق</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="product" style="text-align: right; direction: ltr; ">
                    <div class="section-header">
                        <h1>منتجات ذات صلة</h1>
                    </div>

                    <div class="row align-items-center product-slider product-slider-3">
                        <div class="col-lg-3">
                            <div class="product-item">
                                <div class="product-title">
                                    <a href="#">شمعة فانيلا</a>
                                    <div class="ratting">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                                <div class="product-image">
                                    <a href="product-detail.html">
                                        <img src="img/51VmRWyNwFL._AC_UF1000,1000_QL80_.jpg" alt="Product Image">
                                    </a>
                                </div>
                                <div class="product-price" style="display: flex; justify-content: center; gap: 10px;">
                                    <h3>3 JD</h3>
                                    <a class="btn" onclick="addToWishlist()" style="width: fit-content ;"><i class="fa fa-heart"></i></a>
                                    <a class="btn" onclick="addToCart()" style="width: fit-content ;"><i class="fa fa-shopping-cart"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="product-item">
                                <div class="product-title">
                                    <a href="#">شمع بروائح مختلفة</a>
                                    <div class="ratting">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                                <div class="product-image">
                                    <a href="product-detail.html">
                                        <img src="img/-.webp" alt="Product Image">
                                    </a>
                                    <!-- <div class="product-action">
                                        <a href="#"><i class="fa fa-cart-plus"></i></a>
                                        <a href="#"><i class="fa fa-heart"></i></a>
                                        <a href="#"><i class="fa fa-search"></i></a>
                                    </div> -->
                                </div>
                                <div class="product-price" style=" display: flex; justify-content: center; gap: 10px;">
                                    <h3>10 JD</h3>
                                    <a class="btn" onclick="addToWishlist()" style="width: fit-content ;"><i class="fa fa-heart"></i></a>
                                    <a class="btn" onclick="addToCart()" style="width: fit-content ;"><i class="fa fa-shopping-cart"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="product-item">
                                <div class="product-title">
                                    <a href="#">شمع مزخرف </a>
                                    <div class="ratting">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                                <div class="product-image">
                                    <a href="product-detail.html">
                                        <img src="img/3_1200x1200.webp" alt="Product Image">
                                    </a>
                                    <!-- <div class="product-action">
                                        <a href="#"><i class="fa fa-cart-plus"></i></a>
                                        <a href="#"><i class="fa fa-heart"></i></a>
                                        <a href="#"><i class="fa fa-search"></i></a>
                                    </div> -->
                                </div>
                                <div class="product-price" style=" display: flex; justify-content: center; gap: 10px;">
                                    <h3>10 JD</h3>
                                    <a class="btn" onclick="addToWishlist()" style="width: fit-content ;"><i class="fa fa-heart"></i></a>
                                    <a class="btn" onclick="addToCart()" style="width: fit-content ;"><i class="fa fa-shopping-cart"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="product-item">
                                <div class="product-title">
                                    <a href="#">شمع برائحة العنبر</a>
                                    <div class="ratting">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                                <div class="product-image">
                                    <a href="product-detail.html">
                                        <img src="img/61vtRdzyikL._AC_UF1000,1000_QL80_.jpg" alt="Product Image">
                                    </a>
                                    <!-- <div class="product-action">
                                        <a href="#"><i class="fa fa-cart-plus"></i></a>
                                        <a href="#"><i class="fa fa-heart"></i></a>
                                        <a href="#"><i class="fa fa-search"></i></a>
                                    </div> -->
                                </div>
                                <div class="product-price" style=" display: flex; justify-content: center; gap: 10px;">
                                    <h3>5 JD</h3>
                                    <a class="btn" onclick="addToWishlist()" style="width: fit-content ;"><i class="fa fa-heart"></i></a>
                                    <a class="btn" onclick="addToCart()" style="width: fit-content ;"><i class="fa fa-shopping-cart"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="product-item">
                                <div class="product-title">
                                    <a href="#">شمع البابلز</a>
                                    <div class="ratting">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                                <div class="product-image">
                                    <a href="product-detail.html">
                                        <img src="img/51blJPqS2zL._AC_UF350,350_QL80_.jpg" alt="Product Image">
                                    </a>
                                </div>
                                <div class="product-price" style=" display: flex; justify-content: center; gap: 10px;">
                                    <h3>2 JD</h3>
                                    <a class="btn" onclick="addToWishlist()" style="width: fit-content ;"><i class="fa fa-heart"></i></a>
                                    <a class="btn" onclick="addToCart()" style="width: fit-content ;"><i class="fa fa-shopping-cart"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Featured Product End -->