@model IEnumerable<MasterPiece_UsingMVCBackEnd.Models.product_list>


    @if (Model.Any())
    {
        <div class="product-detail" style="direction: rtl;">

            <div class="container-fluid">

                <div class="row">
                    <div class="col-lg-8">
                        @foreach (var product in Model)
                        {
                            <div class="product-detail-top">

                                <div class="row align-items-center">

                                    <div class="col-md-5">


                                        <div class=" normal-slider">
                                            <img src="~/img/@product.img" alt="Product Image" width="500px">
                                        </div>
                                    </div>

                                    <div class="col-md-7">
                                        <div class="product-content">
                                            <div class="title"><h2>@product.name</h2></div>
                                            <div class="ratting">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <div class="price">
                                                <h4>السعر:</h4>
                                                <p>@product.price JD </p>
                                            </div>

                                            <div class="action">
                                                <a class="btn" href="@Url.Action("AddToCart", "Home", new { categoryId = product.id })"><i class="fa fa-shopping-cart"></i>اضف الى عربة التسوق</a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        }

                    </div>

                </div>
            </div>
        </div>

   
}

else
{
    <p>لم يتم العثور على نتائج.</p>
}

